name: Build and Push to ACR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: az acr login --name murthyacr

    - name: Build Docker Image
      run: |
        docker build -t murthyacr.azurecr.io/demoapp:${{ github.sha }} .

    - name: Push Docker Image
      run: |
        docker push murthyacr.azurecr.io/demoapp:${{ github.sha }}
